*{
    margin: 0;
    padding: 0;
}


body{
    background-color:#EEE9DA!important;
}

nav{
    background-color: #BDCDD6;
}
@font-face {
    font-family:'hello';
    src: url(SweetHipster-PzlE.ttf);
}


nav .navbar-brand{
    font-family: 'hello';
    font-size: 45px;
    color: rgb(24, 24, 24);
}

nav .nav-link{
    font-size: 20px;
}

.nav-item:hover{
    font-size: 20px;
    color:#6096B4;
    border-bottom: 2px #6096B4 solid ;
}

section h1:not(#f-end){
    border-left: 4px #6096B4 solid;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
}

section p {
    margin-left: 40px;
    width: 600px;
    border-left: 5px #6096B4 solid ;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 40px;
    font-size: larger;
    padding-bottom: 20px;
    font-weight: 400!important;
}
section{
    display: flex;
    flex-direction: column;
}


section:nth-of-type(2){
    display: flex;
    align-items: flex-end;
    flex-direction: column;

}

section:nth-of-type(2) h1{
    border-right: 5px #6096B4 solid ;
    margin-right: 10px;
    padding-right: 10px;
}

section h1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-direction: column;
}


footer svg{
    width: 40px;
    height: 40px;
}

footer{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
}
 

@media screen and (max-width:680px){
    section:not(section h1){
        flex-direction: column;
        justify-content:center ;
        gap: 20px;
    }
    section p{
        margin-left: 20px;
        margin-right: 20px;
        width: auto;
        border-left: 5px #6096B4 solid ;
        padding-left: 20px;
        border-radius: 40px;
        font-size: larger;
        font-weight: 400!important;
    }

    footer{
        justify-content: center;
    }
}